@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

/* ------------------------------------
    CSS Variables
------------------------------------ */

:root {
	/* Colors */
	--primary: #17202a;
	
}

/* ------------------------------------
    Common Css / Class
------------------------------------ */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	scroll-behavior: smooth;
}


.post-list{
	margin-top: 30px;
}
.error{
	color: red;
}
.back{
	margin: 6px 12px;
}
.post-image{
	width: 200px;
	height: 200px;
	object-fit: cover;
	padding: 4px;
	margin-bottom: 20px;
	border: 1px solid var(--primary);
}
